
# **Performed advanced sales analysis on Superstore dataset using Pandas,**
# **GroupBy, and Pivot Tables to uncover key business insights.**

In [1]:
#Using Pivot table and group by in Walmart Sales Data
#Importing Libraries
import pandas as pd

In [2]:
#Importing Dataset
df = pd.read_csv("Superstore.csv",encoding="ISO-8859-1")
#Checking the first 5 rows of the dataset
print(df.head())
#Checking the shape of the dataset
print(df.shape)
#Checking the columns of the dataset
print(df.columns)
#Checking the data types of the columns
print(df.dtypes)

   Row ID        Order ID  Order Date   Ship Date       Ship Mode Customer ID  \
0       1  CA-2016-152156   11/8/2016  11/11/2016    Second Class    CG-12520
1       2  CA-2016-152156   11/8/2016  11/11/2016    Second Class    CG-12520
2       3  CA-2016-138688   6/12/2016   6/16/2016    Second Class    DV-13045
3       4  US-2015-108966  10/11/2015  10/18/2015  Standard Class    SO-20335
4       5  US-2015-108966  10/11/2015  10/18/2015  Standard Class    SO-20335

     Customer Name    Segment        Country             City  ...  \
0      Claire Gute   Consumer  United States        Henderson  ...
1      Claire Gute   Consumer  United States        Henderson  ...
2  Darrin Van Huff  Corporate  United States      Los Angeles  ...
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...

  Postal Code  Region       Product ID         Category Sub-Category  \
0       42420   South  FUR-BO-10001798        Furniture    Bookcases
1       42420   South  FUR-CH-10000454        Furniture       Chairs
2       90036    West  OFF-LA-10000240  Office Supplies       Labels
3       33311   South  FUR-TA-10000577        Furniture       Tables
4       33311   South  OFF-ST-10000760  Office Supplies      Storage

                                        Product Name     Sales  Quantity  \
0                  Bush Somerset Collection Bookcase  261.9600         2
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2  Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3      Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                     Eldon Fold 'N Roll Cart System   22.3680         2

   Discount    Profit
0      0.00   41.9136
1      0.00  219.5820
2      0.00    6.8714
3      0.45 -383.0310
4      0.20    2.5164

[5 rows x 21 columns]
(9994, 21)
Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')
Row ID             int64
Order ID          object
Order Date        object
Ship Date         object
Ship Mode         object
Customer ID       object
Customer Name     object
Segment           object
Country           object
City              object
State             object
Postal Code        int64
Region            object
Product ID        object
Category          object
Sub-Category      object
Product Name      object
Sales            float64
Quantity           int64
Discount         float64
Profit           float64
dtype: object

In [3]:
df.head(10)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
5,6,CA-2014-115812,6/9/2014,6/14/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.8600,7,0.00,14.1694
6,7,CA-2014-115812,6/9/2014,6/14/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,OFF-AR-10002833,Office Supplies,Art,Newell 322,7.2800,4,0.00,1.9656
7,8,CA-2014-115812,6/9/2014,6/14/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,TEC-PH-10002275,Technology,Phones,Mitel 5320 IP Phone VoIP phone,907.1520,6,0.20,90.7152
8,9,CA-2014-115812,6/9/2014,6/14/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,OFF-BI-10003910,Office Supplies,Binders,DXL Angle-View Binders with Locking Rings by S...,18.5040,3,0.20,5.7825
9,10,CA-2014-115812,6/9/2014,6/14/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,OFF-AP-10002892,Office Supplies,Appliances,Belkin F5C206VTEL 6 Outlet Surge,114.9000,5,0.00,34.4700

In [4]:
#Print unique values in each column
print("Unique Values in each Column")
print(df.nunique())

Unique Values in each Column
Row ID           9994
Order ID         5009
Order Date       1237
Ship Date        1334
Ship Mode           4
Customer ID       793
Customer Name     793
Segment             3
Country             1
City              531
State              49
Postal Code       631
Region              4
Product ID       1862
Category            3
Sub-Category       17
Product Name     1850
Sales            5825
Quantity           14
Discount           12
Profit           7287
dtype: int64

In [5]:
#Checking the null values in the dataset
print("Total Null Values")
print(df.isnull().sum())

Total Null Values
Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

In [8]:
#Remove any empty spaces in the column names
df.columns = df.columns.str.strip()
#changing column names to lowercase
df.columns = df.columns.str.lower()
#Checking the columns of the dataset after changing the column names
print(df.columns)
#if spaces in between colmn names, remove them replace by "_"
df.columns = df.columns.str.replace(' ', '_')
#remove any character occurence in column name and replace with _
df.columns = df.columns.str.replace('-', '_')

Index(['row_id', 'order_id', 'order_date', 'ship_date', 'ship_mode',
       'customer_id', 'customer_name', 'segment', 'country', 'city', 'state',
       'postal_code', 'region', 'product_id', 'category', 'sub_category',
       'product_name', 'sales', 'quantity', 'discount', 'profit'],
      dtype='object')

In [9]:
df_cleaned=df
df_cleaned.to_csv("cleaned_sales_data.csv", index=False)  # Save cleaned DataFrame to a new CSV file
print("Cleaned DataFrame saved to cleaned_services.csv")

Cleaned DataFrame saved to cleaned_services.csv

In [7]:
df.head()

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,...,postal_code,region,product_id,category,sub_category,product_name,sales,quantity,discount,profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

## **Problem 1**

#### Find the Top 3 Most Profitable Product Sub-Categories in Each Region
#### Goal: Identify which Sub-Categories are generating the highest profit in each region.

by_group =df.groupby(['region', 'sub_category'],sort=True,as_index=False)['profit'].sum().groupby('region')

for reg,frame in iter(by_group):
    print(f"Region: {reg}")
    print(frame)
    print("\n")

In [8]:
profitable_product=df.groupby(['region', 'sub_category'])['profit'].sum().reset_index() \
    .sort_values(['region', 'profit'], ascending=[True, False]) \
    .groupby('region').head(3)

print("Top 3 Sub Categories by Profit in each Region")

for region in profitable_product['region'].unique():
    print(f"\nRegion: {region}")
    region_data = profitable_product[profitable_product['region'] == region]
    for _, row in region_data.iterrows():
        print(f"  Sub-Category: {row['sub_category']}, Profit: {row['profit']}")

Top 3 Sub Categories by Profit in each Region

Region: Central
  Sub-Category: Copiers, Profit: 15608.8413
  Sub-Category: Phones, Profit: 12323.0267
  Sub-Category: Accessories, Profit: 7251.6306

Region: East
  Sub-Category: Copiers, Profit: 17022.841800000002
  Sub-Category: Phones, Profit: 12314.686
  Sub-Category: Binders, Profit: 11267.9346

Region: South
  Sub-Category: Phones, Profit: 10767.2753
  Sub-Category: Accessories, Profit: 7004.5424
  Sub-Category: Chairs, Profit: 6612.0893

Region: West
  Sub-Category: Copiers, Profit: 19327.2351
  Sub-Category: Accessories, Profit: 16484.5983
  Sub-Category: Binders, Profit: 16096.8016

## **Problem 2**
####  Find the Monthly Sales Trend for Each Category
#### Goal: Show how sales have changed month by month for each product category.

In [9]:
df['order_date'] = pd.to_datetime(df['order_date'])
df['Year_Month'] = df['order_date'].dt.to_period('M')

In [11]:


# Verify the column has been removed
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   row_id         9994 non-null   int64
 1   order_id       9994 non-null   object
 2   order_date     9994 non-null   datetime64[ns]
 3   ship_date      9994 non-null   object
 4   ship_mode      9994 non-null   object
 5   customer_id    9994 non-null   object
 6   customer_name  9994 non-null   object
 7   segment        9994 non-null   object
 8   country        9994 non-null   object
 9   city           9994 non-null   object
 10  state          9994 non-null   object
 11  postal_code    9994 non-null   int64
 12  region         9994 non-null   object
 13  product_id     9994 non-null   object
 14  category       9994 non-null   object
 15  sub_category   9994 non-null   object
 16  product_name   9994 non-null   object
 17  sales          9994 non-null   float64
 18  quantity       9994 non-null   int64
 19  discount       9994 non-null   float64
 20  profit         9994 non-null   float64
 21  Year_Month     9994 non-null   period[M]
dtypes: datetime64[ns](1), float64(3), int64(3), object(14), period[M](1)
memory usage: 1.7+ MB
None

In [12]:
df.head()

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,...,region,product_id,category,sub_category,product_name,sales,quantity,discount,profit,Year_Month
0,1,CA-2016-152156,2016-11-08,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136,2016-11
1,2,CA-2016-152156,2016-11-08,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820,2016-11
2,3,CA-2016-138688,2016-06-12,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714,2016-06
3,4,US-2015-108966,2015-10-11,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310,2015-10
4,5,US-2015-108966,2015-10-11,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164,2015-10

In [16]:
df.groupby(['Year_Month','category'])['sales'].sum().reset_index().sort_values(['Year_Month','sales'],ascending=[True,False])

    Year_Month         category       sales
0      2014-01        Furniture   6242.5250
1      2014-01  Office Supplies   4851.0800
2      2014-01       Technology   3143.2900
3      2014-02        Furniture   1839.6580
5      2014-02       Technology   1608.5100
..         ...              ...         ...
138    2017-11        Furniture  37056.7150
139    2017-11  Office Supplies  31472.3370
141    2017-12        Furniture  31407.4668
142    2017-12  Office Supplies  30436.9420
143    2017-12       Technology  21984.9100

[144 rows x 3 columns]

In [31]:
# df[['Year_Month']].dt.year.unique()

#distinct years and length of them in year_month column
print(df['Year_Month'].dt.year.unique())
print(len(df['Year_Month'].dt.year.unique()))

[2016 2015 2014 2017]
4

In [42]:

# Get the distinct years
distinct_years = df['Year_Month'].dt.year.unique().tolist()
print("Distinct Years:", distinct_years)
print("Length of Distinct Years:", len(distinct_years))
distinct_years.sort()
print("Sorted Distinct Years:", distinct_years)

Distinct Years: [2016, 2015, 2014, 2017]
Length of Distinct Years: 4
Sorted Distinct Years: [2014, 2015, 2016, 2017]

In [44]:
for y in range(len(distinct_years)):
    year = distinct_years[y]
    print(f"Year: {year}")
    df_y = df[df['Year_Month'].dt.year == year]
    monthly_sales = df_y.pivot_table(index='Year_Month', columns='category', values='sales', aggfunc='sum').reset_index()
    print(monthly_sales)

Year: 2014
category Year_Month   Furniture  Office Supplies  Technology
0           2014-01   6242.5250         4851.080    3143.290
1           2014-02   1839.6580         1071.724    1608.510
2           2014-03  14573.9560         8605.879   32511.174
3           2014-04   7944.8370        11155.074    9195.434
4           2014-05   6912.7870         7135.624    9599.876
5           2014-06  13206.1256        12953.037    8435.965
6           2014-07  10821.0510        15121.208    8004.134
7           2014-08   7320.3465        11379.462    9209.660
8           2014-09  23816.4808        27423.298   30537.572
9           2014-10  12304.2470         7211.128   11938.018
10          2014-11  21564.8727        26862.436   30201.408
11          2014-12  30645.9665        18006.462   20893.192
Year: 2015
category Year_Month   Furniture  Office Supplies  Technology
0           2015-01  11739.9416         1808.780    4625.354
1           2015-02   3134.3740         5368.067    3448.970
2           2015-03  12499.7830        15882.547   10343.922
3           2015-04  10475.6985        12558.558   11160.952
4           2015-05   9374.9505         9113.736   11643.000
5           2015-06   7714.1790        10647.747    6435.366
6           2015-07  13674.4200         4719.939   10370.966
7           2015-08   9638.5922        11735.108   15524.632
8           2015-09  26273.0230        19305.767   19017.128
9           2015-10  12026.6235         8673.410   10704.890
10          2015-11  30880.8325        21218.130   23873.601
11          2015-12  23085.8192        16201.674   35632.028
Year: 2016
category Year_Month   Furniture  Office Supplies  Technology
0           2016-01   7622.7430         5299.682    5620.066
1           2016-02   3925.5510         6794.350   12258.914
2           2016-03  12801.0920        17346.931   21567.852
3           2016-04  13212.0900        10647.447   14890.502
4           2016-05  15119.8350        13035.202   28832.691
5           2016-06  13070.5720        10901.810   16372.152
6           2016-07  13068.5190        12924.444   13269.000
7           2016-08  12483.2323         8959.740    9672.402
8           2016-09  27262.8809        23263.738   22883.406
9           2016-10  11872.5770        16281.794   31533.374
10          2016-11  31783.6288        20487.278   27141.059
11          2016-12  36678.7150        37997.566   22322.762
Year: 2017
category Year_Month   Furniture  Office Supplies  Technology
0           2017-01   5964.0320        21274.289   16733.053
1           2017-02   6866.3374         7407.772    6027.024
2           2017-03  10893.4448        14550.286   33428.622
3           2017-04   9065.9581        15072.191   12383.387
4           2017-05  16957.5582        13736.964   13566.588
5           2017-06  19008.5867        16912.039   17061.100
6           2017-07  11813.0220        10241.468   23209.926
7           2017-08  15441.8740        30059.852   17619.162
8           2017-09  29028.2060        31895.843   26942.603
9           2017-10  21884.0682        23037.192   32855.663
10          2017-11  37056.7150        31472.337   49918.773
11          2017-12  31407.4668        30436.942   21984.910

## **Problem 3**
#### Identify Customers with the Most Repeat Purchases
#### Goal:Find customers who have placed the most orders (not based on sales, but count of transactions).

In [ ]:
#the number of distinct orders placed by a customer, regardless of how many products were in each order.
df.groupby('customer_name')['order_id'].nunique().sort_values(ascending=False).head(10)

customer_name
Emily Phan             17
Sally Hughsby          13
Noel Staavos           13
Patrick Gardner        13
Zuschuss Carroll       13
Joel Eaton             13
Erin Ashbrook          13
Chloris Kastensmidt    13
Suzanne McNair         12
Rick Bensley           12
Name: order_id, dtype: int64

In [ ]:
# counts every single product customer ordered
df.groupby('customer_name')['order_id'].count().nlargest(15)

customer_name
William Brown          37
John Lee               34
Matt Abelman           34
Paul Prost             34
Chloris Kastensmidt    32
Edward Hooks           32
Jonathan Doherty       32
Seth Vernon            32
Arthur Prichep         31
Emily Phan             31
Zuschuss Carroll       31
Lena Cacioppo          30
Brian Moss             29
Dean percer            29
Greg Tran              29
Name: order_id, dtype: int64

## **Problem 4**
#### Find the Average Discount Given in Each State
#### Goal: Understand which states receive higher discounts on average.

In [54]:
df.head()

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,...,region,product_id,category,sub_category,product_name,sales,quantity,discount,profit,Year_Month
0,1,CA-2016-152156,2016-11-08,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136,2016-11
1,2,CA-2016-152156,2016-11-08,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820,2016-11
2,3,CA-2016-138688,2016-06-12,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714,2016-06
3,4,US-2015-108966,2015-10-11,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310,2015-10
4,5,US-2015-108966,2015-10-11,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164,2015-10

In [55]:
#convert discount column in floating type to percentage
df['discount'] = df['discount'].astype(float) * 100
df.head()

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,...,region,product_id,category,sub_category,product_name,sales,quantity,discount,profit,Year_Month
0,1,CA-2016-152156,2016-11-08,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.0,41.9136,2016-11
1,2,CA-2016-152156,2016-11-08,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.0,219.5820,2016-11
2,3,CA-2016-138688,2016-06-12,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.0,6.8714,2016-06
3,4,US-2015-108966,2015-10-11,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,45.0,-383.0310,2015-10
4,5,US-2015-108966,2015-10-11,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,20.0,2.5164,2015-10

In [59]:
df.info()
#convert discount column in percentage to float type
df['discount'] = df['discount'].astype(float) / 100
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   row_id         9994 non-null   int64
 1   order_id       9994 non-null   object
 2   order_date     9994 non-null   datetime64[ns]
 3   ship_date      9994 non-null   object
 4   ship_mode      9994 non-null   object
 5   customer_id    9994 non-null   object
 6   customer_name  9994 non-null   object
 7   segment        9994 non-null   object
 8   country        9994 non-null   object
 9   city           9994 non-null   object
 10  state          9994 non-null   object
 11  postal_code    9994 non-null   int64
 12  region         9994 non-null   object
 13  product_id     9994 non-null   object
 14  category       9994 non-null   object
 15  sub_category   9994 non-null   object
 16  product_name   9994 non-null   object
 17  sales          9994 non-null   float64
 18  quantity       9994 non-null   int64
 19  discount       9994 non-null   float64
 20  profit         9994 non-null   float64
 21  Year_Month     9994 non-null   period[M]
dtypes: datetime64[ns](1), float64(3), int64(3), object(14), period[M](1)
memory usage: 1.7+ MB

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,...,region,product_id,category,sub_category,product_name,sales,quantity,discount,profit,Year_Month
0,1,CA-2016-152156,2016-11-08,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,26196.00%,2,0.00%,4191.36%,2016-11
1,2,CA-2016-152156,2016-11-08,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",73194.00%,3,0.00%,21958.20%,2016-11
2,3,CA-2016-138688,2016-06-12,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,1462.00%,2,0.00%,687.14%,2016-06
3,4,US-2015-108966,2015-10-11,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,95757.75%,5,0.45%,-38303.10%,2015-10
4,5,US-2015-108966,2015-10-11,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,2236.80%,2,0.20%,251.64%,2015-10


# **Performed advanced sales analysis on Superstore dataset using Pandas,**
# **GroupBy, and Pivot Tables to uncover key business insights.**

## Skills Gain:
#### group_by()
#### sorting,
#### pivot_table(),
#### cross_tab(),
#### dt.to_period(),
#### nunique()

In [73]:
#pd.set_option("display.float_format", "{:.2%}".format)
#reset options to default
pd.reset_option("display.float_format")

df.groupby('state')['discount'].mean().sort_values(ascending=False)

state
Illinois                0.003900
Texas                   0.003702
Pennsylvania            0.003286
Ohio                    0.003249
Colorado                0.003165
Arizona                 0.003036
Florida                 0.002993
Tennessee               0.002913
Oregon                  0.002887
North Carolina          0.002835
Wyoming                 0.002000
Idaho                   0.000857
West Virginia           0.000750
California              0.000728
Montana                 0.000667
Washington              0.000640
Nevada                  0.000615
Utah                    0.000604
New Mexico              0.000595
New York                0.000553
Rhode Island            0.000214
Massachusetts           0.000156
New Hampshire           0.000111
Connecticut             0.000073
Michigan                0.000071
Delaware                0.000063
Maryland                0.000057
New Jersey              0.000046
Alabama                 0.000000
Indiana                 0.000000
Georgia                 0.000000
Arkansas                0.000000
District of Columbia    0.000000
Louisiana               0.000000
Kentucky                0.000000
Kansas                  0.000000
Iowa                    0.000000
Maine                   0.000000
Minnesota               0.000000
Mississippi             0.000000
Missouri                0.000000
North Dakota            0.000000
Nebraska                0.000000
Oklahoma                0.000000
South Carolina          0.000000
South Dakota            0.000000
Vermont                 0.000000
Virginia                0.000000
Wisconsin               0.000000
Name: discount, dtype: float64

**Problem 5**
Determine the Most Popular Ship Mode in Each Region
Goal:Find out which shipping mode (Standard Class, Second Class, etc.) is the most used in each region.

In [74]:
list_ship_mode=df['ship_mode'].unique().tolist()

In [75]:
#SOLUTION 1
#Using Cross tab to count unique values in ship_mode column for each region
pd.crosstab(df["region"], df["ship_mode"])

ship_mode  First Class  Same Day  Second Class  Standard Class
region
Central            299       120           465            1439
East               490       155           530            1673
South              234        83           329             974
West               515       185           621            1882

In [76]:
#SOLUTION 2
df.groupby(['region', 'ship_mode'])['order_id'].count().reset_index() \
    .sort_values(['region', 'order_id'], ascending=[True, False]) \
    .groupby('region').first()

              ship_mode  order_id
region
Central  Standard Class      1439
East     Standard Class      1673
South    Standard Class       974
West     Standard Class      1882

## Skills Gain:
#### group_by()
#### sorting,
#### pivot_table(),
#### cross_tab(),
#### dt.to_period(),
#### nunique()